<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- ICONO -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <!-- FUENTE-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="imgLogo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo">
            </div>
    
            <div class="search">
                <input type="text" placeholder=" Buscar productos, marcas..">
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>

            <div>
                <p class="titulo">
                    <i class="fas fa-hand-holding-usd"> </i>
                    Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>
        </div>
        
        <nav>
                <ul class="navUno">
                    <a href="/">Ofertas</a>
                    <a href="/">Tiendas Oficiales</a>
                    <a href="/">Vender</a>
                    <a href="/">Ayuda</a>
                </ul>
    
                <ul class="navDos">
                    <a href="/register">Crea tu cuenta</a>
                    <i class="fas fa-id-card"></i>
                    
                    <a href="/login">Ingresa</a>
                    <i class="fas fa-sign-in-alt"></i>
                                   
                    <a href="/">Mis compras </a>
                    <i class="fas fa-shopping-basket"></i>
                </ul>           
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div> 

    </header>
    <section class="banner">
        <img src="/images/img-home-banner.jpg" alt="home-banner">
    </section>

    <main>
        <fieldset>
            <form>
              <h4>Formulario de Registro</h4>
        
              <div class="formulario">
                <label for="name">Nombre:
                    <input type="text" id="name" name="nombre" 
                    placeholder="Escriba su nombre" required>
                    <span class="feedback"></span>
                </label>
              </div>

              <div class="formulario">
                <label for="lastname">Apellido:
                    <input type="text" id="lastname" name="apellido" 
                        placeholder="Escriba su apellido" required>
                    <span class="feedback"></span>
                </label>
              </div>

              <div class="formulario">
                <label for="email">Email:
                    <input type="email" id="email" name="correo" 
                        placeholder="Escriba su email" required>
                    <span class="feedback"></span>
                </label>
              </div>

              <div class="formulario">
                <label for="date">Fecha de Nacimiento:
                    <input type="date" id="date" name="fecha">
                </label>
              </div>

              <div class="formulario">
                <label for="home">Domicilio:
                    <input type="text" id="home" name="domicilio" 
                        placeholder="Escriba su domicilio" required>
                    <span class="feedback"></span>
                </label>
              </div>

              <div class="formulario">
                <label for="lperfil">Perfil de Usuario: </label>
                
                <input type="radio" id="comprar" name="perfil" value="comprar"> 
                <label for="comprar">Comprador</label>
               
                <input type="radio" id="vender" name="perfil" value="vender">
                <label for="vender">Vendedor</label>
              </div>

              <div class="formulario">
                <label for="lcategory">Categorías de Interés: </label>
                <div class="formCheckbox">
                    <input type="checkbox" id="categoryE" name="categoria" value="electro"> 
                    <label for="categoryE">Electro</label> 
                </div>
                <div class="formCheckbox">
                    <input type="checkbox" id="categoryM" name="categoria" value="moda">
                    <label for="categoryM">Moda</label> 
                </div>
                <div class="formCheckbox">
                    <input type="checkbox" id="categoryH" name="categoria" value="hogar">
                    <label for="categoryH">Hogar</label> 
                </div>
                <div class="formCheckbox">
                    <input type="checkbox" id="categoryJ" name="categoria" value="jugeteria">
                    <label for="categoryJ">Juguetería</label> 
                </div>
                <div class="formCheckbox">
                    <input type="checkbox" id="categoryVS" name="categoria" value="vidaSana">
                    <label for="categoryVS">Vida Sana</label>
                </div>
              </div>

              <div class="formulario">
                <label for="photo">Foto de Usuario:
                    <input type="file" accept=".jpg" id="photo" name="foto"> 
                </label>
              </div>
           
              <div class="formulario">
                <label for="password">Contraseña:
                    <input type="text" id="password" name="contraseña" 
                    placeholder="Escriba su contraseña" required>
                    <span class="feedback"></span>
                </label>
              </div>

              <div class="formulario">
                <label for="password">Confirmar contraseña:
                    <input type="text" id="password" name="contraseña" 
                    placeholder="Escriba su contraseña nuevamente" required>
                    <span class="feedback"></span>
                </label>
              </div>

              <div class="botones">
                <button class="enviar" type="submit">Enviar</button>
                <button class="limpiar" type="reset">Borrar</button>
              </div>

            </form>
        </fieldset>
    </main>

    <footer>
        <div class="containerFooter">
            <div class="footerSecciones">
                <i class="iconFooter fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenes cuotas sin interés con tarjeta o 
                efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footerSecciones">
                <i class="iconFooter fas fa-gift"></i>
                <h3>Envío gratis desde $2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés 
                envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footerSecciones">
                <i class="iconFooter fas fa-user-shield"></i>
                <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas 
                    hacer, porque estás siempre protegid@.</p>    
            </div>
        </div>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
    
</body>
</html>
