* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/**
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
**/

body{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    /**font-size: 12px;  ?? Cuerpos de texto  **/
}

div.imgLogo{
    width: 150px;
    height: auto;
    margin: 20px;
}

header div.logo{
    width: 50%;
}

.search{
    padding: 10px;
}

.titulo{
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.navUno{
    padding: 10px;
}

.navDos{
    padding: 10px;
}

h2{
   font-size: 24px; 
   color: #666;
   text-align: center;
   padding: 10px;
}

.precio{
    font-size: 18px;
    margin-top: 5px;
}

.descrip,
.desc{
    font-size:16px;
    font-weight: normal;
}

.descrip{
    color: #666;
    margin-top: 20px;
}

.desc{
    color: #39b54a;
}

p{
    font-size: 12px;
}

div.burger-menu{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: fit-content;
    padding: 1rem;
    background-color: #1259c3;
    color: white;
    border-radius: 5px;
}

footer{
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: rgb(117, 116, 116);
    width: 100%;
}

.iconFooter{
    font-size: 2em;
    color:#1259c3;
    margin: 10px;
    margin-bottom: 10px;
}

h3{
    font-size: 18px; 
    color: #666;
    margin-bottom: 2px;
}

p{
    font-size: 12px;
}

.copyright{
    margin: 30px;
    text-align: left;
    margin-left: 10px;
   
}

.footerSecciones{
    margin: 40px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    background-color: #ebebeb;
    padding: 5px;
    margin: 5%;
}

main section article{
    margin: 10px;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

main section article img{
    width: 100%;
}

article div.main-article{
    width: 100%;
    margin-top: 1px;
    padding: 20px;
    background-color: #ffffff;

}


article div.main-article i{
color: #39b54a;
border: 1px solid #39b54a;
border-radius: 60%;
padding: 6px 16px 18px 6px;
}

