/**
    Amarillo: #EAC926;
    Azul: #03264C;
    Celeste: #1259c3;
    Gris oscuro: #666;
    Gris claro: #ebebeb;
    Verde: #39b54a;
**/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #EAC926;
    padding: 20px;
}

header div.imgLogo{
    width: 40%;
    padding: 10px;
}

.search {
    padding: 10px;
    display: flex;
    border-radius: 5px;
}

.search button,
.search button i :hover {
    cursor: pointer; 
} 
    
.search button,
.search button i {
    border: none;
    background-color: #ffffff;
    font-size: 16px;
    padding-right: 2px;
    border-radius: 0px 5px 5px 0px;
}
    
input[type="search"]{
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
}

input[type="search"]:focus {
    outline: none;
    box-shadow: 0 0 5px #ffffff;
}

.titulo{
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.navPrincipal ul {
    list-style: none;
}

.navPrincipal li {
    display: inline-block;
}

.navPrincipal a {
    text-decoration: none;
    margin: 5px 5px;
    color: black;
}


/*
  --- Productos ---
*/
main{
    width: 90%;
    background-color: #ebebeb;
    padding: 15px;
    margin-left: 5%;
    margin-right: 5%;
}

main section article{
    margin: 10px;
    border-top: 1px solid #ebebeb;
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}

main section article img{
    width: 100%;
}

article div.main-article{
    width: 100%;
    /**margin-top: 1px; /**verrr*/
    padding: 20px;
    background-color: #ffffff;
}

.product-desc-box {
    position: relative;
} 

.product-desc-box > .product-delivery-icon{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -30px;
    color: #39b54a;
}

.product-desc-box > .product-delivery-icon:hover{
    transform: rotate(-90deg);
    transition: 2s ease;
}

h2{
    font-size: 24px; 
    color: #666;
    text-align: center;
    padding: 10px;
}

.producto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.precio{
    font-size: 18px;
    margin-top: 5px;
    width: 30%;
    text-align: justify;
}

.descrip,
.desc{
    font-size:16px;
    font-weight: normal;
}

.descrip{
    color: #666;
    margin-top: 20px;
    /*display: none; */
}

.desc{
    color: #39b54a;
    width: 70%;
    text-align: justify;
    margin-top: 6px;
    padding-left: 30px ;
}

.precioYdescFlex{
    display: flex;
    flex-wrap: wrap;
}

p{
    font-size: 12px;
}

article {
    transition: box-shadow 0.3s ease; /* Agrega una transición suave a la sombra */
}

article:hover{
   box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

div.burger-menu{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: fit-content;
    padding: 1rem;
    background-color: #1259c3;
    color: white;
    border-radius: 5px;
}

section.banner img{
    width: 100%;
}

/*
  --- Footer ---
*/
footer{
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: rgb(117, 116, 116);
    width: 100%;
}

.iconFooter{
    font-size: 2em;
    color:#1259c3;
    margin: 10px;
   /* margin-bottom: 10px; */
}

h3{
    font-size: 18px; 
    color: #666;
    margin-bottom: 2px;
}

p{
    font-size: 12px;
}

.copyright{
    margin: 30px;
    text-align: left;
    margin-left: 10px;
}

.footerSecciones{
    margin: 40px;
}


/*
  --- Formulario ---
*/
form.form-container{
    background-image: url("https://img.freepik.com/fotos-premium/fondo-colorido-fondo-blanco-fondo-verde_679635-309.jpg?w=826");
    background-size: cover;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-variant: small-caps;
    border-radius: 15px;
    padding: 5%;
    width: 50%;
    margin: 10px;
    margin-left: 25%;
}

h4{
    text-align: center;
    font-family: cursive;
    font-size: 23px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgb(28, 179, 8), 0 0 10px rgb(0, 0, 0), 0 0 5px rgb(0, 255, 21);
    margin-bottom: 30px;
}

div.formulario{
    margin: 10px;
}

div.botones{
    text-align: center;
}

button{
    border: none;
}

button.enviar{
    background-color: #42e28a;
    width: 25%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

button.limpiar{
    background-color: #dae44e;
    width: 25%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

button.enviar:hover,
button.limpiar:hover{
    background-color: #1b40b9;
    color: white;
}

input{
    border: none;
}

input[type="text"],[type="email"],
[type="password"],[type="date"]{
    height: 10%;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
}

input[type="file"]{
    height: 10%;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    background-color: white;
    margin-top: 5px;
}

input:focus {
    outline: none;
    border-color: #1900ff; /* Cambia el color del borde al enfocar */
    box-shadow: 0 0 5px rgba(212, 38, 255, 0.658); /* Agrega una sombra al enfocar */
}

/*
input:hover {
    cursor: pointer; /**Cambiar el estilo del cursor al pasar sobre el input
} */

.formCheckbox{
    display: block;
    margin-left: 20%;
    margin-bottom: 10px;
}

/**
  --- Formulario Login ---
*/

form.formLogin{
    background-image: url("https://static.vecteezy.com/system/resources/previews/013/732/058/non_2x/soft-color-gradient-background-for-background-web-cover-and-more-use-free-vector.jpg");
    background-size: cover;
    text-align: center;
    border-radius: 15px;
    padding: 5%;
    width: 50%;
    margin: 10px;
    margin-left: 25%;
}

.inputLogin{
    margin-bottom: 10px;
}

button.enviarL{
    background-color: #42e28a;
    color: rgb(0, 0, 0);
    width: 50%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

button.enviarL:hover{
    background-color: #0022AA;
    color: white;
}

/**
  --- Navegacion en tablets ---
*/
@media(min-width: 768px) and (max-width:991px){
    .producto article{
      /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
       flex-basis: 48%; 
       margin: 5px;
    }

    /*
    .descrip{
        display: block;
    }
    */

    div.burger-menu{
       display: none;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .imgLogo,
    .search,
    .titulo {
            flex-basis: 27%; 
            box-sizing: border-box;
    }
    
    .search input {
        width: 70%;
        height: 40px;
        border: #666;
    }

    .search button {
        width: 20%;
        height: 40px;
        border: #666;
    }
    
    .navPrincipal{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    button.enviar{
        width: 100%;
        margin: 10px;
    }
    
    button.limpiar{
        width: 100%;
        margin: 10px;
    }

}

/**
  --- Navegación en desktop (1200-min) ---
*/
@media(min-width: 1024px) and (max-width:1919px){
    .producto article{
       /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
        flex-basis: 23%; 
        margin: 5px; 
    }

    /*
    .descrip{
        display: block;
        margin-top: 6px;
    } */

    div.burger-menu{
       display: none;
    }

    h2{
        text-align: left;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .imgLogo,
    .search,
    .titulo {
            flex-basis: 27%; 
            box-sizing: border-box;
    }
    
    .search input {
        width: 70%;
        height: 40px;
    }

    .search button {
        width: 10%;
        height: 40px;
    }

    .navPrincipal{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .containerFooter{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footerSecciones{
        flex-basis: 25%;
    }

    .iconFooter:hover{
        color: #39b54a;
        animation: iconoFooter 3s ease;
    }

    @keyframes iconoFooter {
        0% {
            transform: rotateY(0deg);
        }
    
        50% {
            transform: rotateY(180deg);
        }
    
        100% {
            transform: rotateY(0deg);
        }
    }

}

/**
  --- Navegación en mobile ---
**/
@media(max-width: 480px){
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .imgLogo,
    .search {
        flex-basis: 48%; /* Reduzco ligeramente el porcentaje para dejar espacio entre los elementos */
        box-sizing: border-box; /* Incluye el relleno y el borde en el ancho especificado */
    }

    .search input {
        width: 70%;
        height: 40px;
        border-radius: 10px;
    }

    .search button {
        width: 20%;
        height: 40px;
    }

    .descrip {
        display: none; 
        transition: display 0.3s ease; /* Transición suave para el cambio de display 
                                          Ease: Especifica un efecto de transición con un 
                                          inicio lento, luego rápido y luego lento
                                       */
    }

    article:hover .descrip{
        display: block; /* muestra la descripción cuando el mouse está sobre el contenedor del articulo */
    }

    .navPrincipal{
        display: none;
    }    

}



